{% extends 'base.html.twig' %}

{% block title %}Modification Produit{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>{{ products.name }} </h1>
        <h2>{{ products.createdat ? products.createdat|date('d-m-Y H:i:s', 'Europe/Paris') : 'N/A' }}</h2>
        
        {{ form(formedit) }}
        
    </div>
</div>



{% endblock %}