{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<h1>Liste des produits</h1>

<ul>
 
        {% for product in products %}
        <li>{{ product.id }} {{ product.name }} </li>
            
        {% endfor %}

</ul>


{% endblock %}
