{% extends 'base.html.twig' %}

{% block title %}Modification Commande{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Commande n°{{ orders.id }} </h1>
        <p>{{ orders.getDateOrder ? orders.getDateOrder|date('d-m-Y H:i:s', 'Europe/Paris') : 'N/A' }}</p>
        
        {{ form(formedit) }}
        
    </div>
</div>



{% endblock %}